.container{
    margin: 0 auto ;
    padding: 20px;
}

.info{
    text-align: center;
    background-color: #07607E;
    color: white;
    border-bottom: 1px solid white ;
    margin-top: 0;
}
.info h1{
    font-size: 50px;
    padding-top: 30px;
    margin-top: -1px;

}
.info p{
    font-size: 30px;
}

.head{
    text-align: center;
    font-size: 40px;
    color: #0b5394;
    border-bottom: 1px solid #07607E;
}


/* personal information style  */
.pers-info{
    font-size: 40px;
    padding-left: 30px;

}

.pers-info ul li{
    padding:5px ;
}
.pers-info ul li span {
    font-weight: bold;
    color: #07607E;
}

.head{
    margin-top: 90px;
}

.cont-info{
    font-size: 40px;
    padding-left: 30px;
}
.cont-info ul li{
    padding:5px ;
}
.cont-info ul li span {
    font-weight: bold;
    color: #07607E;
}
.edu{
    font-size: 40px;
    padding-left: 30px;
}
.edu ul li{
    padding:5px ;
    
}
.edu ul li span {
    font-weight: bold;
    color: #07607E;
}
.traning{
    font-size: 40px;
    padding-left: 30px;
}
.traning ul li{
    padding:5px ;
    
}
/* .traning ul li span {
    font-weight: bold;
    color: #07607E;
} */
.image{
    /* display: flex; */
    position: absolute;
    top: 15px;
    height: 174px;
}


img{
    
    /* display: flex; */
    width: 100%;
    height: 100%;
    /* height: fit-content; */
    /* height:80% ; */
    
}


.soc-net{
    font-size: 40px;
    padding-left: 30px;
    /* display: flex; */

}
.soc-net ul{
    list-style: none;
    display: flex;
    justify-content: center;

}

.soc-net ul li{
    padding: 30px;
}

.soc-net ul li span {
    font-weight: bold;
    color: #07607E;
}

a{
    text-decoration: none;
    color: #07607E;
}